<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>个人图片博客记录 </title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/basic.css">
    <style type="text/css">
        body,
        td,
        th {
            font-family: calibri, "宋体", Arial, sans-serif;
        }
        
        .quotes li {
            padding: 15px 0;
            border-bottom: 1px solid #f1f1f1;
            font-size: 14px;
        }
        
        .quotes h3 {
            font-size: 14px;
            border-left: 3px solid #ee5044;
            padding-left: 8px;
            line-height: 16px;
            margin-bottom: 10px;
        }
    </style>
</head>