<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>个人图片博客记录 </title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <style type="text/css">
        body,
        td,
        th {
            font-family: calibri, "宋体", Arial, sans-serif;
        }
        
        .quotes li {
            padding: 15px 0;
            border-bottom: 1px solid #f1f1f1;
            font-size: 14px;
        }
        
        .quotes h3 {
            font-size: 14px;
            border-left: 3px solid #ee5044;
            padding-left: 8px;
            line-height: 16px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body style="">
    <header id="container2" style="background:#795b59 url(images/top.jpg) center 0 scroll no-repeat;">

        <div class="quotes">
            <a href="/loginout" style="color: black;font-size: 30px;left: 920px;position: relative;top: -40px;">退出登陆</a>
            <h3>资料简介</h3>
            <li><i></i> 账号：<span>111<span></span></span>
            </li>
            <li><i></i> 性别：<span>男<span></span></span>
            </li>
        </div>

        <div id="nav" class="menu-container">
            <ul id="menu-0" class="menu" style="list-style: none;">
                <li id="menu-item-1"><a href="#">主页</a></li>
                <li id="menu-item-2"><a href="#">日志</a></li>
                <li id="menu-item-3"><a href="#">相册</a></li>
                <li id="menu-item-4"><a href="#">留言板</a></li>
                <li id="menu-item-5"><a href="#">说说</a></li>
                <li id="menu-item-6"><a href="#">个人档</a></li>
                <li id="menu-item-7"><a href="#">音乐</a></li>
                <li id="menu-item-8"><a href="#">时光轴</a></li>
            </ul>
        </div>
    </header>
    <!--header-->
    <div id="main" class="main-narrow">
        <div id="content" class="post-index" style="height: 2256px;">
            <article id="post-103" class="ptype-post" style="opacity: 1; position: absolute; left: 0px; top: 0px; width: 304px; transform: translate(6px, 6px);">
                <div class="article-wrap">
                    <header class="entry-header">
                        <h1> <a href="http://www.lmlblog.com/blog/14/#" class="post-title" title="关于雪的爱情句子">关于雪的爱情句子</a> <span class="meta-time">07月04日</span> </h1>
                    </header>
                    <div class="entry-content">
                        <p>
                            <a href="http://www.lmlblog.com/blog/14/#" class="post-feature"><img src="images/07.jpg" title="关于雪的爱情句子"></a>
                        </p>
                        <p> 　　1. 忽然下的一场雪飘的那么纯洁，在一瞬间曾经所有的梦都幻灭，冰封了爱的期限却让痛成为永远。2. 夜空雪花飘，落地人心颤。你既已无情，我又和来悔。情殇已了然，此地雪依旧。3 雪舞思念起!4. 纯洁的雪，洗濯了肮脏的世界，邂逅的只是安静的大地……5. 雪下了你不在，回忆都变空白，爱被覆盖以后，幸福还要多久，才找到有人收留。6. 你尝过雪的味道么，凉凉的，一下子就能透到心里。</p>
                    </div>
                </div>
            </article>
            <!--post-index-->
            <article id="post-81" class="type-post" style="opacity: 1; position: absolute; left: 0px; top: 0px; width: 304px; transform: translate(322px, 6px);">
                <div class="article-wrap">
                    <header class="entry-header">
                        <h1> <a href="http://www.lmlblog.com/blog/12/1.html" class="post-title" title="雪下得那么深，下的那么认真!">雪下得那么深，下的那么认真!</a><span class="meta-time">06月29日</span> </h1>
                    </header>
                    <div class="entry-content">
                        <p>
                            <a href="http://www.lmlblog.com/blog/12/1.html" class="post-feature"><img src="images/08.jpg" title="雪下得那么深，下的那么认真!"></a>
                        </p>
                        <p>　　1. 雪，温暖了整个冬天。2. 一场雪下不尽冬天的冷漠朝如青丝暮成雪。3. 因为你，我懂得了成长，可你，依旧是我的伤。4. 雪下得那么深……下得那么认真……倒印出我克在雪中的伤痕。5. 那年，我们一起看雪的时候，你对我说过爱。6. 一场雪下不尽冬天的冷漠。</p>
                    </div>
                </div>
            </article>
            <!--post-index-->
            <article id="post-348" class="type-post" style="opacity: 1; position: absolute; left: 0px; top: 0px; width: 304px; transform: translate(638px, 1626px);">
                <div class="article-wrap">
                    <header class="entry-header">
                        <h1> <a href="http://www.lmlblog.com/blog/14/#" class="post-title" title="再累，也不能放弃"> 再累，也不能放弃 </a> <span class="meta-time">10月30日</span> </h1>
                    </header>
                    <div class="entry-content">
                        <p>
                            <a href="http://www.lmlblog.com/blog/14/#" class="post-feature"><img src="images/04.jpg" title="再累，也不能放弃"></a>
                        </p>
                        <p> 　在人生的道路上，任何人都会遇到困难。在困难面前怎么办?这是每个人都必须面对的一个问题。我们应该有一个很明确的观点：即使是最困难的事，只要自己有心理准备，能够想办法解决，就一定可以找到解决问题的办法。解决困难的方式是多种多样的，其中最重要的就是对事实有着清醒的认识，冷静思考造成困难的原因，这需要一种敏锐的眼光，能快速得到答案，这是非常重要的。</p>
                    </div>
                </div>
            </article>
            <!--post-index-->
        </div>
        <!--content-->
        <nav id="wide-page-navi" class="page-navi"><span>1</span> <a class="page-numbers" href="http://www.lmlblog.com/blog/14/#">2</a>
            <a class="next page-numbers" href="http://www.lmlblog.com/blog/14/#"></a>
        </nav>
        <nav id="narrow-page-navi" class="page-navi">
            <div class="nav-next"><a href="http://www.lmlblog.com/blog/14/#">下一页</a></div>
        </nav>
    </div>
    <p></p>
    <!--main-->
    <footer id="main-footer">
        <div id="footer-widget">
            <aside id="footer-comments" class="foo-widget">
                <h3>最新评论</h3>
                <ul>
                    <li>
                        <span><img alt="个人博客评论头像" src="images/1.jpeg" class="avatar"></span>
                        <a href="http://www.lmlblog.com/blog/14/#" title="雪中漫步">不知不觉中冬天已经来。。。</a>
                    </li>
                    <li>
                        <span><img alt="个人博客评论头像" src="images/2.png" class="avatar"></span>
                        <a href="http://www.lmlblog.com/blog/14/#" title="雪中漫步">宁静的早晨,轻轻拉开落地窗的厚重窗帘</a>
                    </li>
                    <li>
                        <span><img alt="个人博客评论头像" src="images/3.png" class="avatar"></span>
                        <a href="http://www.lmlblog.com/blog/14/#" title="雪中漫步">雪!飞舞着,轻盈着,飘飘落落,萧萧洒洒。</a>
                    </li>
                    <li>
                        <span><img alt="个人博客评论头像" src="images/4.jpg" class="avatar"></span>
                        <a href="#" title="雪中漫步">这是寒冬季节,北风一吹,寒气扑鼻。</a>
                    </li>
                </ul>
            </aside>
            <aside id="footer-tags" class="foo-widget">
                <h3>热门标签</h3>
                <ul class="wp-tag-cloud">
                    <li><a href="#" class="tag-link">雪中漫步</a></li>
                    <li><a href="/" class="tag-link">个人博客模板</a></li>
                    <li><a href="#" class="tag-link">认真的雪</a></li>
                    <li><a href="#" class="tag-link">独自一人</a></li>
                    <li><a href="#" class="tag-link">雨伞</a></li>
                    <li><a href="#" class="tag-link">时光轴</a></li>
                    <li><a href="#" class="tag-link">冬季</a></li>
                    <li><a href="#" class="tag-link">生活</a></li>
                    <li><a href="#" class="tag-link">孤单的我</a></li>
                    <li><a href="#" class="tag-link">技能</a></li>
                    <li><a href="#" class="tag-link">html5</a></li>
                    <li><a href="#" class="tag-link">前端学习</a></li>
                    <li><a href="#" class="tag-link">好友</a></li>
                    <li><a href="#" class="tag-link">爱听歌</a></li>
                    <li><a href="#" class="tag-link">div+css</a></li>
                </ul>
                <ul></ul>
            </aside>
            <aside id="footer-readwall" class="foo-widget readwall">
                <h3>留言墙</h3>
                <ul>
                    <li>
                        <a href="#"><img alt="个人头像" src="images/s0.jpg" class="avatar"></a><span class="author" style="display:none"></span>
                    </li>
                    <li>
                        <a href="#"><img alt="个人头像" src="images/03(1).jpg" class="avatar"></a><span class="author" style="display:none"></span>
                    </li>
                    <li>
                        <a href="#"><img alt="个人头像" src="images/text02.jpg" class="avatar"></a><span class="author" style="display:none"></span>
                    </li>
                    <li>
                        <a href="#"><img alt="个人头像" src="images/s3.jpg" class="avatar"></a><span class="author" style="display:none"></span>
                    </li>
                    <li>
                        <a href="/#"><img alt="个人头像" src="images/s5.jpg" class="avatar"></a><span class="author" style="display:none"></span>
                    </li>
                    <li>
                        <a href="/#"><img alt="个人头像" src="images/08(1).jpg" class="avatar"></a><span class="author" style="display:none"></span>
                    </li>
                </ul>
            </aside>
        </div>

        <div class="clear"></div>
    </footer>
    <!--footer-->
    <script type="text/javascript" src="js/jquery-1.10.2.min.js.下载"></script>
    <script type="text/javascript" src="js/responsive.js.下载"></script>
    <script src="js/snowy.js.下载"></script>
    <script src="js/Snow.js.下载"></script>
    <style type="text/css">
        .snow-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: 100001;
        }
    </style>
    <div class="snow-container"><canvas width="1519" height="672"></canvas></div>

</body>

</html>